<h2 class="title is-3 has-text-centered">Get a free quote</h2>
<form>
  <div class="field">
    <div class="control">
      <input class="input" type="text" placeholder="Your name">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input" type="email" placeholder="Your email">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input" type="tel" placeholder="Your phone #">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <textarea class="textarea" type="text" placeholder="How can we help?"></textarea>
    </div>
  </div>
  <div class="field is-grouped">
    <p class="control">
      <input class="button is-primary" type="submit" value="Send">
    </p>
    <p class="control">
      <input class="button" type="reset" value="Reset">
    </p>
  </div>
<form>
