<section class="section">
    <h1 class="title is-1 has-text-centered">Trusted</h1>
    <div class='carousel carousel-animated carousel-animate-slide' data-size="5">
      <div class='carousel-container'>
        <div class='carousel-item is-active'>
          <figure class="image is-2by1"><img src="https://bulma.io/images/placeholders/640x320.png"></figure>
        </div>
        <div class='carousel-item'>
          <figure class="image is-2by1"><img src="https://bulma.io/images/placeholders/640x320.png"></figure>
        </div>
        <div class='carousel-item'>
          <figure class="image is-2by1"><img src="https://bulma.io/images/placeholders/640x320.png"></figure>
        </div>
        <div class='carousel-item'>
          <figure class="image is-2by1"><img src="https://bulma.io/images/placeholders/640x320.png"></figure>
        </div>
        <div class='carousel-item'>
          <figure class="image is-2by1"><img src="https://bulma.io/images/placeholders/640x320.png"></figure>
        </div>
        <div class='carousel-item'>
          <figure class="image is-2by1"><img src="https://bulma.io/images/placeholders/640x320.png"></figure>
        </div>
        <div class='carousel-item'>
          <figure class="image is-2by1"><img src="https://bulma.io/images/placeholders/640x320.png"></figure>
        </div>
      </div>
      <div class="carousel-navigation is-overlay">
        <div class="carousel-nav-left">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="carousel-nav-right">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>

</section>
